{
  "preset": "google",
  "disallowEmptyBlocks": true,
  "disallowImplicitTypeConversion": ["numeric", "boolean", "binary", "string"],
  "disallowMultipleSpaces": true,
  "disallowNamedUnassignedFunctions": true,
  "disallowSpaceBeforeComma": true,
  "disallowSpaceBeforePostfixUnaryOperators": true,
  "disallowSpaceBeforeSemicolon": true,
  "disallowTrailingComma": true,
  "requireCamelCaseOrUpperCaseIdentifiers": "ignoreProperties",
  "requireCapitalizedComments": true,
  "requireSpaceAfterLineComment": true,
  "requireSpaceBeforeKeywords": [
    "else",
    "while",
    "catch",
    "finally"
  ],
  "safeContextKeyword": ["self"],
  "validateLineBreaks": "LF",

  "excludeFiles": [
    "node_modules/**"
  ],
  "fileExtensions": [".js", ".jsx"],
  "esprima": "esprima-fb"
}
